/*
 *
 * Author  : Aditya Shakya
 * Mail    : adi1090x@gmail.com
 * Github  : @adi1090x
 * Twitter : @adi1090x
 *
 */

@import "rofi-menu.rasi"
@import "rofi-colors.rasi"

inputbar {
	children: 						[ prompt, entry ];
}

prompt {
    padding:                        12px;
}

entry {
    padding:                        12px 0px;
}

element {
    padding:                        8px;
}

listview {
	lines:							10;
}
